body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1000px; 
    margin: 0 auto; 
}
.chat-container
{
    border-radius:20px;
    width:50%;
    height:500px;
    margin:0 auto;
    padding:none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.chat-header
{
    height:50px;
    text-align:left;
    font-size: 20px;
    padding:12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: blue;
    color: white;
    border-radius:20px 20px 0px 0px;

}
.chat-body
{
    height: 370px;
    padding-left: 0;
}

.message-sent span
{
    background-color:blue;
    border-radius: 15px;
    color:white;
    padding: 10px;
}
.message-receive span
{
    background-color: rgb(169, 58, 184);
    border-radius: 50%;
    color:white;
    border-radius: 15px;
    padding: 10px;
}
.message-sent,.message-receive 
{
    list-style: none;
    margin: 30px 15px;
}
.message-sent
{
    text-align: right;

}
.message-receive
{
    text-align: left;
}

.chat-footer
{
    height: 40px;;    
}
input
{
    text-align: right;
    width:87%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.15);  
    border-radius:0 0 0 20px; 
}
input:focus
{
    outline: none;
}

.chat-button
{
    width:11%;
    border:none;
    border-radius: 0 20px 20px 0;
    background: blue;
    color:white;
    height: 100%;

}