.navbar
{
    list-style: none;
}
.nav-logo
{
    font-weight:bold;
    display: inline-block;
    margin-right: 400px;

}
.nav-item
{
    display: inline-block;
    width:100px;
    height:80px;
}
/*for client component*/
/*header*/
.header
{
    height:300px;
    width: 100%;
}
.header-text
{
    text-align: center;
}
h1
{
    margin-top: 100px;
}
.header-button
{
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;

    border-radius: 10px;
    background:blue;
    color:white;
    font-size: 20px;
    border:none;
    width:200px;
}

/*doctor card*/
.cards
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 120px;
}
.doctor-card
{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    width:250px;
    height:250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.card-item
{
    margin: 10px;
    text-align: center;
}
.card-button
{
    grid-row: 2/4;
    grid-column: 2;
    width:50px;
    height:30px;
    border:20px;
    color:white;
    background:blue;
    border-radius: 20px;
    margin-top: 25px;
}

img{
    width:150px;
    height:150px;
    border-radius: 100px;
}
